.header
    padding-top: 143px
    background: url("../image/header.jpg") center no-repeat
    background-size: cover
    height: 110vh
    &-block
        display: flex
        flex-direction: column
        align-items: center
    &__title
        font-family: "Kelson-bold", sans-serif
        font-size: 54px
        line-height: 24px
    &__subtitle
        font-family: "Kelson-bold", sans-serif
        font-size: 35px
        margin-bottom: 42px
.btn

    &__text

        font-size: 19px
        padding: 12px 14px