.header
    padding-top: 143px
    background: url("../image/header.jpg") center no-repeat
    background-size: cover
    min-height: 100vh
    &-block
        display: flex
        flex-direction: column
        align-items: center
    &__title
        font-family: "Kelson-bold", sans-serif
        font-size: 54px
        line-height: 24px
    &__subtitle
        font-family: "Kelson-bold", sans-serif
        font-size: 35px
        margin-bottom: 42px
.btn
    margin-bottom: 250px
    &-text
        font-size: 19px
        padding: 12px 14px

@media (max-width: 992px)
    .header
        padding-top: 100px
        &__title
            font-size: 35px
        &__subtitle
            font-size: 25px
            margin-bottom: 30px
    .btn
        &__text
            font-size: 16px
            padding: 10px 11px

@media (max-width: 576px)
    .header
        padding-top: 100px
        &__title
            font-size: 25px
        &__subtitle
            font-size: 16px
            margin-bottom: 20px
    .btn
        &-text
            padding: 5px 6px