.work
    &-block
        display: flex
        justify-content: space-between
        margin-top: 50px
        &__item
            text-align: center
        &__title
            font-family: "Marmelad-ru"
            font-size: 22px
            margin-top: 20px
            margin-bottom: 20px
        &__img
           width: 210px
           height: 240px
           background-color: #bfbcb8 
           border-radius: 4px
           margin: auto
    &-list
        display: flex
        justify-content: center
        flex-wrap: wrap
        padding: 0
        &__item
            list-style: none
            margin: 0 20px
        &__link
            font-family: "Marmelad-ru"
            font-size: 22px
            text-decoration: none
            color: #000
.btn
    margin-bottom: 50px
.arrows
    max-width: 120px
    margin: auto
    margin-top: 25px
    display: flex
    justify-content: space-between
    &__left
        position: relative
        width: 27px
        height: 43px
        &:after
            content: ""
            position: absolute
            top: 30px
            left: 0
            width: 30px
            height: 3px
            background: #000
            transform: rotate(45deg)
        &:before
            content: ""
            position: absolute
            left: 0
            top: 10px
            width: 30px
            height: 3px
            background: #000
            transform: rotate(-45deg)
    &__right
        position: relative
        width: 27px
        height: 43px
        &:after
            content: ""
            position: absolute
            top: 30px
            right: 0
            width: 30px
            height: 3px
            background: #000
            transform: rotate(-45deg)
        &:before
            content: ""
            position: absolute
            right: 0
            top: 10px
            width: 30px
            height: 3px
            background: #000
            transform: rotate(45deg)

@media (max-width: 768px)
    .btn
        &-text
            &_768
                display: none